In [10]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright HighSchool"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright HighSchool

In [15]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School" : "Griffin", "Type":"District"}, {"High School": "Figueroa", "Type":"District"}, {"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type":"Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [16]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [17]:
# Add the Pandas dependency.
import pandas as pd

In [19]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [33]:
# SKILL DRILL Iterate through the school_series and print out each high school.
for high_school_name in school_series.iteritems():
    print(high_school_name[1])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [20]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [21]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [35]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df["Region"] = "midwest"

# Print the DataFrame.
schools_df

# SKILL DRILL Add the school_name list as "School Name" and the type_of_school list as "Type" to the schools_df DataFrame. Then print out the schools_df DataFrame.

   School ID            School Name      Type   Region
0          0      Huang High School  District  midwest
1          1   Figueroa High School  District  midwest
2          2    Shelton High School   Charter  midwest
3          3  Hernandez High School  District  midwest
4          4    Griffin High School   Charter  midwest

In [24]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [38]:
# SKILL DRILL Convert the dictionary high_Schools_dict to a DataFrame.
df = pd.DataFrame(high_schools_dict)

df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [43]:
df["type"].value_counts()

District    3
Charter     2
Name: type, dtype: int64

In [45]:
df.groupby(["type"])["school_name"].count()

type
Charter     2
District    3
Name: school_name, dtype: int64

In [47]:
df["type"].nunique()

2

In [48]:
len(df["type"].unique())

2

In [25]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [41]:
school_df.shape

(5, 3)

In [26]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [ ]:
# SKILL DRILL Based on the following image, create a list for each column and add each list to a new Pandas DataFrame.